.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
.but {
  width: 150px;
  height: 35px;
  border: 2px solid red;
  font-family: monospace;
  font-size: 25px;
  border-radius: 5px;
  background-color: black;
  color: aliceblue;
}
footer {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #e7e7e7; /* Slight border on top */
}

footer a {
  color: #f3f3f3; /* Blue color for the link */
  text-decoration: none; /* No underline */
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
}

footer a:hover {
  text-decoration: underline; /* Underline on hover */
  color: #9cc3ea; /* Darker blue on hover */
}
